<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <span style="justify-content: center; display: flex">
    <img class="avatar" src="../../assets/YO.jpg">
  </span>
  <ion-card>
    <ion-item>
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-label>Carolina Giraldo</ion-label>
      <ion-button fill="outline" slot="end">Img</ion-button>
    </ion-item>

    <ion-card-content>
      My name is Carolina, I'm from Granada Antioquia and this is my app
    </ion-card-content>
  </ion-card>
</ion-content>