<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button color = "danger" (click) = "logout()">
        <ion-icon slot="icon-only"  name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="content">
  <span style="justify-content: center; display: flex">
    <img class="avatar" src="../../assets/YO.jpg">
  </span>
  <ion-card>
    <ion-item>
      <ion-avatar  slot="start">
        <img src="../../assets/YO.jpg">
      </ion-avatar>
      <ion-label> Carolina Giraldo</ion-label>
      <ion-button fill="outline" slot="end">Img</ion-button>
    </ion-item>

    <ion-card-content>
      My name is Carolina, I'm from Granada Antioquia and this is my app
    </ion-card-content>
  </ion-card>

  <span *ngIf="data">
    <ngx-charts-bar-vertical [view]="view" [results]="data" xAxis="true" yAxis="true" showXAxisLabel="true"
      showYAxisLabel="true" xAxisLabel="Actividad" yAxisLabel="Días">
    </ngx-charts-bar-vertical>
  </span>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click) = "takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary" (click) = "uploadImage()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <p aling = "center" > <img [src]="myPhoto"></p>

</ion-content>