<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color = "secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="loginForm">
    <ion-item>
      <ion-icon color="secondary" name="contact" slot="start"></ion-icon>
      <ion-label position="floating">Username</ion-label>
      <ion-input required formControlName="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon color="secondary" name="key" slot="start"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required formControlName="pass"></ion-input>
    </ion-item>
  </form>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Your data</ion-card-subtitle>
      <ion-card-title>Sorry :c</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-icon color="secondary" name="contact" slot="start"></ion-icon>
      {{loginForm.get('user').value}}
      <br>
      <ion-icon color="secondary" name="key" slot="start"></ion-icon>
      {{loginForm.get('pass').value}}

    </ion-card-content>
  </ion-card>
</ion-content>