<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>segunda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 style="text-align: center">Soy la segunda pagina</h1>

  <ion-card>
    <ng-container *ngFor="let item of settings">
      <ion-item href="#">
        <ion-icon name="{{item.icon}}" slot="start"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of settings" size="6">
        <div class="{{item.color}}">
          <h2>
            <ion-icon name="{{item.icon}}"></ion-icon> {{item.name}}
          </h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>Share</ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>


</ion-content>