<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ng-container *ngFor="let item of settings">
      <ion-item href="#">
        <ion-icon name="{{item.icon}}" slot="start"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
    </ng-container>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of settings" size="6">
        <div class="cajon">
          <span style="justify-content: center; display: flex">
            <img class="logo" src="{{item.img}}">
          </span>
          <h3>
            {{item.name}}
          </h3>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let item of settings">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.img"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
      <ion-icon name="arrow-forward" slot="end" color = "medium"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>Share</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>