<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-input placeholder="Parámetro" [(ngModel)] = "valor"></ion-input>
  </ion-item>
  <ion-button expand = "full" routerLink = "/segunda">
    Push con routerLink
  </ion-button>
  <ion-button expand = "full" (click) = "pushSegunda()">
    Push con router angular
  </ion-button>
  <ion-button expand = "full" (click) = "pushSegundaNavCtrl()">
    Push con nav controller
  </ion-button>
</ion-content>

